.content {
    position: fixed;
    top: 206px;
    left: 328px;
  }

form {
  display: flex;
}

input {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px;
}

textarea {
  width: 440px;
  height: 120px;
  border-radius: 10px;
  border: 1px;
  resize: none;
}

.form-left-section {
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}

.form-left-section div {
  display: flex;
  flex-direction: column;
}

.form-right-section {
  display: flex;
  flex-direction: column;
}

.form-right-section div {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
}

.buttons-container {
  display: flex;
}

.prio-button {
  background-color: white;
  border: none;
  width: 136px;
  height: 56px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #0000001A;
}




