.content {
    position: fixed;
    top: 206px;
    left: 328px;
  }

  h2 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    margin-right: 30px;
  }

label {
  font-weight: 400;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

form {
  display: flex;
}

textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	padding: 18px 16px;
	font-size: 20px;
  resize: none;
}

input {
	font-size: 20px;
	width: 100%;
  border-radius: 10px;
	padding: 12px 21px;
	max-height: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

select {
  font-size: 20px;
	width: 100%;
  border-radius: 10px;
	padding: 12px 21px;
	max-height: 48px;
}

.form-left-section {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  margin-right: 48px;
}

.form-right-section {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  margin-left: 48px;
}

.assigned-container {
  position: relative;
}

.assigned-icon {
  position: absolute;
  right: 10px;
  top: 45%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.prio-button {
  cursor: pointer;
  background-color: white;
  border: none;
  width: 136px;
  height: 56px;
  padding: 16px 10px ;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #0000001A;
}

.prio-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.urgent-active {
  background-color: #FF3D00;
}

.medium-active {
  background-color: #FFA800;
}

.low-active {
  background-color: #7AE229;
}

.subtask-container {
  position: relative;
}

.subtask-icon-container {
  position: absolute;
  right: 10px;
  top: 20%;
  display: flex;
  align-items: center;
}

#contentSubtasks {
  margin-top: 8px;
}

.subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: lightgray;
}

.edit-input {
  position: relative;
}

.edit-input input {
  border: none;
}

.edit-icons {
  position: absolute;
  top: 30%;
  right: 10px;
  display: flex;
  align-items: center;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-button {
  cursor: pointer;
  width: 110px;
  height: 56px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
  border: 1px;
  border: 1px solid #2A3647;
}

.clear-button:hover {
  border-color: #29ABE2;
  color: #29ABE2;
}

.task-button {
  cursor: pointer;
  background-color: #2A3647;
  color: white;
  width: 183px;
  height: 56px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
}

.task-button:hover {
  background-color: #29ABE2;
}






