body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.max-width {
    max-width: 1440px;
}

.sideboard-desktop {
    width: 232px;
    height: 100vh;
    background-color: rgb(42, 54, 71);
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-size: 64px;
    margin: 0;
}

.board-header {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    align-items: center;
    margin: 144px 48px 16px 296px;
}

.searchbar {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    width: 312px;
    height: 48px;
    padding-left: 16px;
}

.searchbar button {
    height: 48px;
    background-color: white;
    border: none;
}

.searchbar input {
    font-size: 24px;
    border: none;
    outline: none;
}

.searchbar ::placeholder {
    color: rgb(209, 209, 209);
}

.board-right-header {
    display: flex;
    gap: 32px;
}

.border-between-input {
    width: 1px;
    height: 31px;
    background-color: rgb(209, 209, 209);;
}

#searchBtn {
    width: 32px;
    height: 32px;
    margin: 0 12px 0 12px;
}

#searchBtn:hover {
    cursor: pointer;
}

#searchBtn img {
    width: 18px;
    height: 18px;
}

.searchbar-right-part {
    display: flex;
    align-items: center;
    
}

#addTaskBtn {
    background-color: rgb(42,54,71);
    color: white;
    border: none;
    border-radius: 10px;
    height: 48px;
    width: 160px;
    font-size: 21px;
}

#addTaskBtn:hover {
    cursor: pointer;
}

.plus {
    height: 19px;
    width: 19px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    padding: 0 64px 0 296px;
    margin-top: 48px;
    gap: 26px;
}

.table-head {
    width: 252px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-plus {
    height: 18px;
}

.table-plus:hover {
    cursor: pointer;
}

.board {
    margin-top: 16px;
    height: 100vh;
    display: flex;
    gap: 26px;
    padding: 0 64px 0 296px;
}

.card {
    width: 252px;
    height: 263px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}