h1 {
    font-size: 64px;
    margin: 0;
}

.board-header {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    align-items: center;
}

.searchbar {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    width: 312px;
    height: 48px;
    padding-left: 16px;
}

.searchbar button {
    height: 48px;
    background-color: white;
    border: none;
}

.searchbar input {
    font-size: 24px;
    border: none;
    outline: none;
}

.searchbar ::placeholder {
    color: rgb(209, 209, 209);
}

.board-right-header {
    display: flex;
    gap: 32px;
}

.border-between-input {
    width: 1px;
    height: 31px;
    background-color: rgb(209, 209, 209);;
}

#searchBtn {
    width: 32px;
    height: 32px;
    margin: 0 12px 0 12px;
}

#searchBtn:hover {
    cursor: pointer;
}

#searchBtn img {
    width: 18px;
    height: 18px;
}

.searchbar-right-part {
    display: flex;
    align-items: center;
    
}

#addTaskBtn {
    background-color: rgb(42,54,71);
    color: white;
    border: none;
    border-radius: 10px;
    height: 48px;
    width: 160px;
    font-size: 21px;
}

#addTaskBtn:hover {
    cursor: pointer;
}

.plus {
    height: 19px;
    width: 19px;
}

.table-head {
    width: 252px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-plus {
    height: 18px;
}

.table-plus:hover {
    cursor: pointer;
}

.board {
    margin-top: 16px;
    height: 100vh;
    display: flex;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 252px;
    margin: 8px 26px;
}

.card {
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 252px;
    border-radius: 24px;
    padding: 16px;
    margin: 16px 0px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.small-card-category {
    color: white;
    max-width: fit-content;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.card h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    margin-bottom: 8px;
}

.card p {
    margin-bottom: 24px;
    word-break: break-all;
}

.subtasks-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.progressbar {
    position: relative;
    width: 100%;
    background-color: #f4f4f4;
    height: 10px;
    border-radius: 2px;
}

#subtaskProgressbar {
    position: absolute;
    background-color: #29abe2;
}

.card-bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userContainer {
    display: flex;
}

.add-task-popup {
    width: 1212px;
    min-width: fit-content;
    height: 592px;
    position: absolute;
    left: calc(50% - 606px);
    top: calc(50vh - 292px);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: none;
    justify-content: center;
    padding-top: 16px;
    z-index: 101;
}

.task-popup {
    width: 525px;
    max-height: 931px;
    padding: 40px;
    border-radius: 30px;
    position: absolute;
    left: calc(50% - 300px);
    top: calc(30vh - 292px);
    background-color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    z-index: 101;
    gap: 24px;
}

.task-popup-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-popup-top-section img {
    cursor: pointer;
}

.task-popup-top-section img:hover {
    background-color: #D9D9D9;
    border-radius: 12px;
}

.task-popup h3 {
    word-break: break-all;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.task-popup p {
    word-break: break-all;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.task-popup-bottom-section {
    display: flex;
    gap: 10px;
    align-items: end;
    justify-content: end;
}

.task-popup-bottom-section div {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.task-popup-bottom-section div:hover {
    color: #29abe2;
    scale: 1.05;
}



