body {
    width: 100%;
    font-family: inter;
}

.contact {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px 24px 15px 24px;
}

.contact:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
}

.contact:hover .contact-email {
    color: rgb(63, 155, 240);
}

.contact:hover .contact-name {
    color: white;
}

.contact img {
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info {
    flex: 1;
}

.contact-name {
    font-weight: bold;
}

.contact-email {
    color: rgb(162, 162, 162);
}

.add-new-contact-btn {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: rgb(42, 54, 71);
    border: none;
    color: white;
    padding: 12px 0 12px 0;
    border-radius: 10px;
}

.add-new-contact-btn:hover {
    cursor: pointer;
}

#scrollable-container {
    max-height: calc(100vh - 96px);
    margin-top: 96px;
    width: fit-content;
    padding: 15px 24px 15px 24px;
    overflow-y: auto;
    position: absolute;
    left: 232px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.initialien-round-container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    font-size: 12px;
    color: white;
}

#contactBox {
    margin-top: 206px;
    max-width: 600px;
}

.flex-box {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.min-width-contacts {
    width: calc(100% - 260px);
    margin-left: 260px;
}

.alphabet-letter {
    margin: 24px 0 8px 16px;
}

.line-lightgray {
    height: 1px;
    background-color: lightgray;
    margin-bottom: 16px;
}

.contact-box-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

#contactBox {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.blue-vertical-line-contacts {
    width: 2px;
    height: 48px;
    background-color: rgb(42, 171, 226);
}

#contactBoxName {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    margin: 24px 0 24px 0;
}

.initialien-big-round-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    font-size: 48px;
    color: white;
}

.white-border {
    border: 2px white solid;
}

.contact-box-name {
    font-size: 48px;
}

.contact-box-edit-delete {
    display: flex;
    gap: 16px;
    margin-top: 12px;
}

#edit {
    display: flex;
    align-items: center;
    gap: 8px;
}

#delete {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-info-headline {
    margin-bottom: 28px;
    font-size: 20px;
}

.bold {
    font-weight: 700;
    margin-bottom: 16px;
}

.email {
    color: rgb(63, 155, 240);
    margin-bottom: 16px;
}

.add-contact {
    width: 1212px;
    min-width: fit-content;
    height: 592px;
    position: fixed;
    top: 50%;
    right: -1200px;
    transform: translate(50%, -50%);
    transition: .5s ease;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    z-index: 500;
}

.add-contact-left-section {
    background-color: rgb(42, 54, 71);
    width: 467px;
    height: 592px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 66px 48px 66px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.add-contact-logo {
    height: 66px;
    width: 55px;
}

.add-contact-headline {
    font-size: 61px;
    font-weight: 700;
    color: white;
}

.add-contact-text {
    color: white;
    font-size: 27px;
}

.add-contact-vector {
    width: 90px;
}

.add-contact-right-section {

}

.add-contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 137px;
    left: 742px;
}

.add-contact-form input {
    width: 422px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
    padding: 13px 21px 13px 21px;
    font-size: 20px;
    outline: none;
}

.add-contact-form input::placeholder {
    color: rgb(209, 209, 209);
}

.contact-logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 204px;
    left: 550px;
}

.add-contact-close {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 1132px;
    top: 32px;
}

.add-contact-close:hover {
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
    cursor: pointer;
}

.create-contact {
    width: 214px;
    height: 57px;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    border: none;
    background-color: rgb(42, 54, 71);
    color: white;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    top: 250px;
}

.create-contact img {
    width: 15.49px;
    height: 11.22px;
}

.cancel-btn {
    width: 126px;
    height: 57px;
    position: absolute;
    top: 250px;
    left: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 21px;
    border: 1px solid rgb(42, 54, 71);
    background-image: url(../assets/icons/cancel_black.png);
    background-repeat: no-repeat;
    background-position-x: 96px;
    background-position-y: 20px;
    padding-right: 32px;
    background-color: white;
}

.cancel-btn:hover {
    border: 1px solid rgb(42, 171, 226);
    color: rgb(42, 171, 226);
    background-image: url(../assets/icons/cancel_blue.png);
    box-shadow: 2px 3px 4px 3px rgb(209, 209, 209);
    cursor: pointer;
}

.cancel-btn img {
    width: 126px;
    height: 57px;
}

.cancel-btn:hover .cancel-blue {
    display: block;
}

.create-contact:hover {
    cursor: pointer;
    background-color: rgb(42, 171, 226);
    box-shadow: 2px 3px 4px 3px rgb(209, 209, 209);
}

#delete:hover {
    cursor: pointer;
}

.contact-container {
  transform: translateX(300%);
}

@keyframes slideFromRightToLeft {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0%);
  }
}

.edit_contact {
    width: 1212px;
    min-width: fit-content;
    height: 592px;
    position: fixed;
    top: 50%;
    right: -1200px;
    transform: translate(50%, -50%);
    transition: .5s ease;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    z-index: 500;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 400;
}

.input-container {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Passen Sie die Größe des Icons nach Bedarf an */
    height: 20px;
  }
  
  .edit-delete:hover {
    cursor: pointer;
    color: rgb(42, 171, 226);
    transform: scale(1.1);
  }

  .edit-delete:hover .img-blue {
    display: block;
    transform: scale();
  }

  .edit-delete:hover .img-black {
    display: none;
  }

  .img-blue {
    display: none;
  }

  @media (max-width: 1350px) {
    #contactBox {
        display: none;
    }
  }

  @media (max-width: 700px) {
    .min-width-contacts {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    #scrollable-container {
        position: unset;
    }
  }