.edit-task-popup form {
  width: 525px;
  padding: 40px;
  border-radius: 30px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  z-index: 500;
  gap: 24px;
  box-shadow: 0px 0px 4px 0px #00000029;
}

.edit-subtask-icon-container {
  position: absolute;
  right: 10px;
  top: 24%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.edit-subtask-icon-container div {
  cursor: pointer;
  height: 24px;
}

.edit-subtask-icon-container div:hover {
  background-color: #D9D9D9;
  border-radius: 12px;
}

.edit-task-popup-top {
  display: flex;
  justify-content: end;
}

.edit-task-popup-top img:hover {
  cursor: pointer;
  background-color: #D9D9D9;
  border-radius: 12px;
}

.edit-task-bottom-section {
  display: flex;
  justify-content: end;
}

.edit-task-button {
  cursor: pointer;
  color: white;
  background-color: #2A3647;
  width: 89px;
  height: 57px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  display: flex;
  align-items: center;
}

.edit-task-button img {
  margin-left: 4px;
}

.edit-task-button:hover {
  background-color: #29abe2;
}

#edit-popup-contentSubtasks {
  gap: 4px;
  margin-top: 4px;
}