header {
  background-color: white;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 232px;
  right: 0;
  border-bottom: 2px solid rgb(226, 226, 226);
  height: 96px;
  padding: 20px 40px 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  cursor: pointer;
  display: none;
  height: 50px;
}

.header-icon-div {
  display: flex;
  align-items: center;
}

.dropdown-content a.display-help {
  display: none;
}

/* Dropdown Button */
.dropdown-button {
  height: 56px;
  width: 56px;
  border: 3px solid black;
  border-radius: 28px;
  background-color: white;
  color:  #29ABE2;
  padding: 16px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dropdown button on hover & focus */
.dropdown-button:hover {
  background-color: #CDCDCD;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 76px;
  right: -35px;
  background-color: #2A3647;
  border-radius: 20px 0px 20px 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #CDCDCD;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@media(max-width: 700px) {
  header {
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid rgb(226, 226, 226);
    height: 96px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-header {
    display: block;
  }

  header span {
    display: none;
  }

  .dropdown-content a.display-help {
    display: block;
  }

  .dropdown-content {
    top: 76px;
    right: -35px;
  }

  .help-icon {
    display: none;
  }
}