body {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    height: 100vh;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    opacity: 1;
    animation: background-switch 1s ease forwards;
    animation-delay: 0.5s;
    z-index: 100;
}

.logo {
    height: 200px;
    width: 244px;
    animation: top-left-glide 1s ease forwards;
    animation-delay: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;    
}

@keyframes top-left-glide {
    from {
        top: 50%;
        left: 50%;
        height: 200px;
        width: 244px;
    }

    to {
        top: 112px;
        left: 100px;
        fill: #2A3647;
        width: 100px;
        height: 122px;
    }
}

@keyframes background-switch {
    from {
        opacity: 1;
        z-index: 10;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

.sign-up-area-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sign-up-area {    
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 67px;
    margin-right: 77px;
}

.sign-up-area a {
    text-decoration: none;
}

.login-card {
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 115px;
    gap: 32px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 12px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    width: 380px;
}

.input-container input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.input-container img {
    height: 20px;
}

.remember-me {
    display: flex;
    padding: 0px 0px 0px 39px;
    gap: 8px;
}

.remember-me input:hover {
    cursor: pointer;
}

.remember-me p {
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 16px;
}

.login-footer a {
    padding: 8px;
    text-decoration: none;
    color: #A8A8A8;
}

.login-footer a:hover {
    scale: 1.05;
    color: #29ABE2;
}

.hidden-container {
    color: #ff0000;
    font-size: 12px;
}

.btn {
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
}

.black {
    background: #2A3647;
    border: 1px solid #2A3647;
    color: #FFFFFF;
}

.black:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
}

.white {
    border: 1px solid #2A3647;
    background: #FFFFFF;
}

.white:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
}

h1 {
    font-size: 61px;
    margin: 0;
}

p {
    margin: 0;
}

.d-none {
    display: none;
}

.red-border {
    border-color: #ff0000;
}

@media(max-width: 750px) {
    .logo {
        width: 100px;
        height: 122px;
    }

    .sign-up-area-container {
        top: auto;
        bottom: 200px;
        justify-content: center;
    }

    .sign-up-area {
        margin: 0;
    }

    @keyframes top-left-glide {
        from {
            top: 50%;
            left: 50%;
            fill: #fff;
        }

        to {
            top: 8%;
            left: 20%;
            fill: #2A3647;
        }
    }

    .login-card {
        padding: 32px 80px;
    }

    .input-container {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .button-container {
        flex-direction: column;
    }

    .sign-up-area-container {
        bottom: 120px;
    }

    h1 {
        font-size: 47px;
    }
}