body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;    
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 67px;
    margin-left: 77px;
    margin-right: 122px;
}

.sign-up-area {
    display: flex;
    gap: 35px;
}

.login-card {
    border: 1px solid black;
    border-radius: 30px;
    background-color: #FFFFFF;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 115px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 16px;
}

.login-footer a {
    padding: 8px;
    text-decoration: none;
    color: #A8A8A8;
}

p {
    margin: 0;
}