/* Breite und Farbe des Scrollbalkens */
.content::-webkit-scrollbar,
.content-addtask::-webkit-scrollbar,
.dropdown-users::-webkit-scrollbar,
#contentSubtasks::-webkit-scrollbar,
.dropdown-categorys::-webkit-scrollbar,
.edit-task-popup form::-webkit-scrollbar,
#edit-popup-contentSubtasks::-webkit-scrollbar,
#scrollable-container::-webkit-scrollbar,
.add-task-popup::-webkit-scrollbar,
.info-content::-webkit-scrollbar,
.task-popup::-webkit-scrollbar,
.dropdown-categories::-webkit-scrollbar  {
  width: 12px; /* Breite des Scrollbalkens */
  background: #CDCDCD;
  border-radius: 7px;
}

/* Track (Hintergrund des Scrollbalkens) */
.content::-webkit-scrollbar-track,
.content-addtask::-webkit-scrollbar-track,
.dropdown-users::-webkit-scrollbar-track,
#contentSubtasks::-webkit-scrollbar-track,
.dropdown-categorys::-webkit-scrollbar-track,
.edit-task-popup form::-webkit-scrollbar-track,
#edit-popup-contentSubtasks::-webkit-scrollbar-track,
#scrollable-container::-webkit-scrollbar-track,
.add-task-popup::-webkit-scrollbar-track,
.info-content::-webkit-scrollbar-track,
.task-popup::-webkit-scrollbar-track,
.dropdown-categories::-webkit-scrollbar-track {
  background: white;/* Hintergrundfarbe des Scrollbalkens */
  border: 1px solid #CDCDCD;
  border-radius: 7px;
}

/* Griff des Scrollbalkens */
.content::-webkit-scrollbar-thumb, 
.content-addtask::-webkit-scrollbar-thumb,
.dropdown-users::-webkit-scrollbar-thumb,
#contentSubtasks::-webkit-scrollbar-thumb,
.dropdown-categorys::-webkit-scrollbar-thumb,
.edit-task-popup form::-webkit-scrollbar-thumb,
#edit-popup-contentSubtasks::-webkit-scrollbar-thumb,
#scrollable-container::-webkit-scrollbar-thumb,
.add-task-popup::-webkit-scrollbar-thumb,
.info-content::-webkit-scrollbar-thumb,
.task-popup::-webkit-scrollbar-thumb,
.dropdown-categories::-webkit-scrollbar-thumb  {
  cursor: pointer;
  min-height: 30px;
  border: 1px solid #CDCDCD;
  background: #2A3647; /* Farbe des Griffs des Scrollbalkens */
  border-radius: 7px; /* Radius des Griffs des Scrollbalkens */
}

/* Hover-Effekt des Griffs des Scrollbalkens */
.content::-webkit-scrollbar-thumb:hover,
.content-addtask::-webkit-scrollbar-thumb:hover,
.dropdown-users::-webkit-scrollbar-thumb:hover,
#contentSubtasks::-webkit-scrollbar-thumb:hover,
.dropdown-categorys::-webkit-scrollbar-thumb:hover,
.edit-task-popup form::-webkit-scrollbar-thumb:hover,#edit-popup-contentSubtasks::-webkit-scrollbar-thumb:hover,
#scrollable-container::-webkit-scrollbar-thumb:hover,
.add-task-popup::-webkit-scrollbar-thumb:hover,
.info-content::-webkit-scrollbar-thumb:hover,
.task-popup::-webkit-scrollbar-thumb:hover,
.dropdown-categories::-webkit-scrollbar-thumb:hover  {
  background: #29ABE2; /* Farbe des Griffs des Scrollbalkens bei Hover */
}


