.taskRow::-webkit-scrollbar {
  height: 6px;
  width: 8px;
  background: #CDCDCD;
  border-radius: 7px;
}

.taskRow::-webkit-scrollbar-track {
  background: #D1D1D1;
  border: 1px solid #D1D1D1;
  border-radius: 7px;
}

.taskRow::-webkit-scrollbar-thumb {
  cursor: pointer;
  min-height: 30px;
  border: 1px solid #D1D1D1;
  background: #2A3647;
  border-radius: 7px;
}

.taskRow::-webkit-scrollbar-thumb:hover {
  background: #29ABE2;
}