body {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    height: 100vh;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    left: 77px;
    top: 67px;
}

.signup-card {
    box-shadow: 0px 0px 14px 3px #0000000A;
    border-radius: 30px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 115px;
    position: relative;
    text-align: center;
}

.flex-container {
    width: 100%;
}

.signup-card>div {
    position: relative;
}

.arrow {
    position: absolute;
    left: 0;
    top: 30px;
}

.arrow:hover {
    scale: 1.05;
    border-radius: 50%;
    background-color: #f6f6f6;
}

.signup-card h1 {
    display: inline-block;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 12px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    width: 380px;
}

.input-container input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.input-container img {
    height: 20px;
}

.hidden-container {
    color: #ff0000;
    font-size: 12px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.privacy-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.privacy-container input:hover {
    cursor: pointer;
}

.privacy-container a {
    text-decoration: none;
}

.privacy-container a:hover {
    text-decoration: underline;
}

.signup-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 16px;
}

.signup-footer a {
    padding: 8px;
    text-decoration: none;
    color: #A8A8A8;
}

.signup-footer a:hover {
    scale: 1.05;
    color: #29ABE2;
}

.btn {
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
}

.black {
    background: #2A3647;
    border: 1px solid #2A3647;
    color: #FFFFFF;
}

.black:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
}

h1 {
    font-size: 61px;
    margin: 0;
    margin-bottom: 48px;
}

.d-none {
    display: none;
}

.red-border {
    border-color: #ff0000;
}

.popup-container {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.popup {    
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 25px;
    transform: translateY(100%);
}

.popup-container.show {
    opacity: 1;
    visibility: visible;
}

.popup.show {
    animation: slideInOut 4s ease-in-out forwards;
}

@keyframes slideInOut {
    0% {
        transform: translateY(800px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-800px);
    }
}

@media(max-width: 750px) {
    .logo {
        left: 30px;
        top: 25px;
    }

    .signup-card {
        padding: 32px 80px;
    }

    .input-container {
        width: 100%;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 47px;
    }
}