h2 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
}

.number {
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
  text-align: center;
}

.task-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.summary-content {
  position: fixed;
  top: 206px;
  left: 328px;
}

.summary-text-container {
  display: flex;
  align-items: center;
}

.summary-text-container span {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
}

.summary-display {
  display: flex;
  align-items: center;
}

.summary-container {
  width: 560px;
  height: 562px;
  gap: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-top-section {
  display: flex;
  gap: 28px;
}

.summary-mid-section {
}

.summary-bot-section {
  gap: 28px;
  display: flex;
  justify-content: space-between;
}

.card-numb-text {
  display: flex;
  flex-direction: column;
}

.top-card {
  width: 264px;
  height: 168px;
  padding: 38px 19px;
  gap: 18px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-div {
  background-color: #2A3647;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 69px;
  width: 69px;
  border-radius: 34px;
}

.img-div img {
  height: 24px;
}

.mid-card {
  width: 560px;
  height: 168px;
  top: 196px;
  padding: 28px 48px;
  gap: 61px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  display: flex;
  align-items: center;
}

.mid-card img {
  height: 60px;
}

.summary-deadline {
 display: flex;
 flex-direction: column;
 
}

.bot-card {
  width: 168px;
  height: 168px;
  top: 1px;
  padding: 25px 0px;
  gap: 13px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.summary-greeting {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

#greeting-time {
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
}

#greeting-name {
  color: #29ABE2;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
}