<header>
  <a href="./summary.html"><img class="logo-header" src="./assets/icons/logo-black.png" alt="LOGO"></a>
  <span>Kanban Project Management Tool</span>
  <div class="header-icon-div">
    <a class="help-icon" href="./help.html"><img src="./assets/icons/help.png" alt="HELP"></a>
    <div class="dropdown">
      <button id="headerInitialUser" onclick="myFunction()" class="dropdown-button"></button>
      <div id="myDropdown" class="dropdown-content">
        <a class="display-help" href="./help.html">Help</a>
        <a href="./legal_notice.html">Legal Notice</a>
        <a href="./privacy_policy.html">Privacy Policy</a>
        <a href="#" onclick="logOut()">Log out</a>
      </div>
    </div>
  </div>
</header>