<nav>
  <div class="logo-container">
    <a href="./summary.html"><img src="./assets/icons/logo.png" alt="LOGO"></a>
  </div>
  <div class="nav-top-section">
    <a href="./summary.html"><img src="./assets/icons/sidebar_icons/summary_icon.png" alt="SUMMARY">Summary</a>
    <a href="./add_task.html"><img src="./assets/icons/sidebar_icons/addtask_icon.png" alt="ADD TASK">Add Task</a>
    <a href="./board.html"><img src="./assets/icons/sidebar_icons/board_icon.png" alt="BOARD">Board</a>
    <a href="./contact.html"><img src="./assets/icons/sidebar_icons/contact_icon.png" alt="CONTACTS">Contacts</a>
  </div>
  <div class="nav-bottom-section">
    <a href="./privacy_policy.html">Privacy Policy</a>
    <a href="./legal_notice.html">Legal notice</a>
  </div>
</nav>