<nav>
  <div class="logo-container">
    <a href="./summary.html"><img src="./assets/icons/logo.png" alt="LOGO"></a>
  </div>
  <div class="nav-top-section">
    <a class="summary-link" href="./summary.html"><img class="summary-img" src="./assets/icons/sidebar_icons/summary_icon_grey.png" alt="SUMMARY">Summary</a>
    <a class="addtask-link" href="./add_task.html"><img class="addtask-img" src="assets/icons/sidebar_icons/addtask_icon_grey.png" alt="ADD TASK">Add Task</a>
    <a class="board-link" href="./board.html"><img class="board-img" src="./assets/icons/sidebar_icons/board_icon_grey.png" alt="BOARD">Board</a>
    <a class="contact-link" href="./contact.html"><img class="contact-img" src="./assets/icons/sidebar_icons/contact_icon_grey.png" alt="CONTACTS">Contacts</a>
  </div>
  <div class="nav-bottom-section">
    <a href="./privacy_policy.html">Privacy Policy</a>
    <a href="./legal_notice.html">Legal notice</a>
  </div>
</nav>