<div class="add-contact-left-section">
  <img class="add-contact-logo" src="./assets/icons/logo.png" alt="" />
  <span class="add-contact-headline">Edit contact</span>
  <img class="add-contact-vector" src="./assets/icons/Vector 5.png" alt="" />
</div>
<div class="add-contact-right-section">
  <div id="contactLogo" class="contact-logo"></div>
  <div class="add-contact-right-right">
    <div onclick="closeContactPopup()" class="add-contact-close"></div>
    <form class="add-contact-form" onsubmit="changeContact(openEditContactId)">
      <div class="input-container">
        <input id="editNameInput" required type="text" placeholder="Name" />
        <img src="./assets/icons/person.png" alt="Name Icon" class="input-icon" />
      </div>
      <div class="input-container">
        <input id="editEmailInput" required type="email" placeholder="Email" />
        <img src="./assets/icons/mail.png" alt="Email Icon" class="input-icon" />
      </div>
      <div class="input-container">
        <input id="editPhoneInput" required type="tel" placeholder="Phone" />
        <img src="./assets/icons/call.png" alt="Phone Icon" class="input-icon" />
      </div>
      <div class="button-submit-edit-contact">
        <button type="button"onclick="deleteContact(openEditContactId)"class="cancel-btn">Delete</button>
        <button type="submit" class="edit-contact-btn">Save<img src="./assets/icons/check.png" alt=""/></button>
      </div>
    </form>
  </div>  
</div>
