<div>
    <h1>Add Task</h1>
    <form action="">
        <div>
            <label>Title</label>
            <input id="taskTitle" type="text">
        </div>
        <div>
            <label>Discription</label>
            <textarea name="" id="taskDiscription" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label>Assigned to</label>
            <input id="taskAssigned" type="text">
        </div>
        <div>
            <label>Due date</label>
            <input id="taskDate" type="date">
        </div>
        <div>
            <label>Prio</label>
            <button>Urgent</button>
            <button>Medium</button>
            <button>Low</button>
        </div>
        <div>
            <label>Category</label>
            <input id="taskCategory" type="text">
        </div>
        <div>
            <label>Subtasks</label>
            <input id="taskSubtasks" type="text">
            <div id="contentSubtasks"></div>
        </div>
    </form>
</div>