<h2>Add Task</h1>
<form action="displayNewCard(0)">
    <div class="form-left-section">
        <div>
            <label>Title*</label>
            <input id="taskTitle" type="text">
        </div>
        <div>
            <label>Discription</label>
            <textarea name="" id="taskDiscription" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label>Assigned to</label>
            <div class="assigned-container">
                <input type="text" onclick="showUsers()" placeholder="Select contacts to assign">
                <img class="assigned-icon" src="./assets/icons/arrow_drop_down.png" alt="OPEN">
            </div>
            <div id="dropdown-user" class="dropdown-user">
                
            </div>
            <div id="content-assigned-user">

            </div>    
            
        </div>
    </div>
    <div>
        <img src="./assets/icons/long_seperator.png" alt="">
    </div>
    <div class="form-right-section">
        <div>
            <label>Due date*</label>
            <input id="taskDate" type="date">
        </div>
        <div class="prio-container">
            <label>Prio</label>
            <div class="buttons-container">
                <button type="button" class="prio-button" id="urgent" onclick="toggleButton('urgent')">Urgent<img id="urgentImg" src="./assets/icons/prio_buttons/prio_urgent_red.png" alt=""></button>
                <button type="button" class="prio-button medium-active" id="medium" onclick="toggleButton('medium')">Medium<img id="mediumImg" src="./assets/icons/prio_buttons/prio_medium.png" alt=""></button>
                <button type="button" class="prio-button" id="low" onclick="toggleButton('low')">Low<img id="lowImg" src="./assets/icons/prio_buttons/prio_low_green.png" alt=""></button>
            </div>
        </div>
        <div>
            <label>Category*</label>
            <select required name="category-input" id="categoryInput" class="category-input">
                <option value="1" disabled selected hidden>Select task category</option>
                <option value="User Story">User Story</option>
                <option value="Technical Task">Technical Task</option>
                <option value="Feature">Feature</option>
                <option value="Bug">Bug</option>
                <option value="Documentation">Documentation</option>
                <option value="Design">Design</option>
                <option value="Testing QA">Testing QA</option>
                <option value="Analyse/Research">Analyse/Research</option>
            </select>
        </div>
        <div>
            <label>Subtasks</label>
            <div class="subtask-container">
                <input id="subtasksInput" type="text" class="subtask-input" placeholder="Add new subtask">
                <div class="subtask-icon-container">
                    <img src="./assets/icons/close.png" alt="X" onclick="clearInput()">
                    <img src="./assets/icons/check1.png" alt="ADD" onclick="addSubtask()">
                </div>
            </div>
            <ul id="contentSubtasks"></ul>
        </div>
    </div>
</form>
<div id="buttonContainer"></div>